/*home part start*/

#home{
    height: 890px;
    padding: 3px 68px;
}
#home::before{
    height: 910px;
}

/*blogs part*/

.blogs{
   margin-left: 55px;
   margin-right: 55px;
}

/*login part start*/

#login{
    flex-direction: column;
    margin: 20px 10px;
}

#login .bx input{
    padding: 8px 50px;
    border-radius: 5px;
}

/*last div part*/

.last h4{
    margin: 10px;
}

/*utility section*/

.h-primary{
    font-size: 2.5rem;
}

/*start login and start teaching part start*/

#start .star{
    padding: 0px 30px;
    
}